button {
  padding: 10px;
  font-size: 20px;
}

.small {
  padding: 1px;
  font-size: 10px;
}

.large {
  padding: 30px;
  font-size: 25px;
}

.redColor {
  background-color: red;
  color: white;
}

.blueColor {
  background-color: blue;
  color: yellow;
}

.rounded {
  border-radius: 50%;
}

.square {
  border-radius: 0%;
}

/*
const sizes = ["small", "large"];
const colors = ["red", "blue"];
const variants = ["increment", "decrement"];
*/

.increment {
  background-color: green;
  color: white;
}

.decrement {
  background-color: red;
  color: white;
}

.counter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light {
  background-color: tan;
  color: black;
}

.dark {
  background-color: brown;
  color: white;
}